.Background{
    background-color:#FFF9F4;
    margin-top: 30px;
}
.Banner-Things{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.Banner-Things img{
    width: 950px;
}
.Banner-Things h1 {
    font-size: 70px;
    font-weight: 600;
    padding-top: 10px;
    font-family: "Poppins";
    color:#2C090B;
}
.Banner-Things  p {
    font-size: 18px;
    font-weight: 450;
    font-family: "Poppins";
    max-width: 600px;
    padding-top: 15px;
    letter-spacing: 1px;
}
@media only screen and (max-width: 320px) {
    .Banner-Things h1 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        font-family: "Poppins";
        color:#2C090B;
    }
    .Banner-Things{
        text-align: center;
    }
    .Banner-Things  p {
        font-size: 13px;
        font-weight: 450;
        font-family: "Poppins";
        width:300px;
        padding-top: 20px;
        letter-spacing: 1px;
    }
    .Banner-Things img{
        width: 355px;
        text-align: center;
        padding: 30px;
    }
}
@media only screen and (max-width:768px) {
.Banner-Things img{
    width: 100%;
}
}
@media only screen and (max-width: 425px) {
  .Banner-Things h1{
 font-size: 40px;
  }
  .Banner-Things p{
    font-size: 14px;
  }
}