.Footer-FLex{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    flex-wrap: wrap;
}
.Footer-FLex h1{
    font-size: 20px;
    font-weight: 500;
}
.Footer-FLex h3{
    font-size: 12px;
    font-weight: 400;
}
.textbox{
    height: 30px;
    width: 200px;
    color: grey;
}
.Arrow{
    color: rgb(255, 0, 0);
    background: #fff;
    margin-left: 10px;
}
.icon-1{
    color: #FFAD11  ;
    font-size: 20px;
}
.icon-2{
    font-size: 20px;
}
.Last-Section-Div{
    padding-top: 15px;
}
.End-Footer-Div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .End-Footer-Div h1 {
    font-weight: 400;
    font-size: 30px;
  }
  .Footer-Section{
    padding: 10px;
  }

  .End-Footer-Div h2 {
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
  }
  .Icons-Footer {
    display: flex;
    gap: 10px;
  }
  .Icon-1-Footer {
    font-size: 17px;
    color: #000;
    border-radius: 100px;
    padding: 10px;
  }
  .Icon-2-Footer {
    font-size: 17px;
    color: #000;
    border-radius: 100px;
  
    padding: 10px;
  }
  .Icon-3-Footer {
    font-size: 17px;
    color: #000;
    border-radius: 100px;
    padding: 10px;
  }
  .Icon-4-Footer {
    font-size: 17px;
    color: #000;
    border-radius: 100px;
    padding:10px;
  }
  .Servies-Footer {
    display: flex;
  }
 
  