.NavBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} 
.Header-Flex {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
} 
.Logo {
  font-size: 35px;
  font-family: "Poppins";
  font-weight: 500;
  color: #211213;
  text-decoration: none;
}
.NavBar ul li {
  display: inline;
  padding: 20px;
}
.NavBar ul li a {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  color: #2d1e1f;
  text-decoration: none;
}
.NavBar button {
  background: #f07641;
  padding: 16px;
  margin-left: 10px;
  border-radius: 6px;
  color: #fff;
  border: None;
  font-family: "Poppins";
  cursor: pointer;
}

.Mobile-Menu-icon {
  display: none;
}
@media only screen and (max-width:768px) {
   
.Links{
    display: none;
}
.nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: #fff;
} 
/* .NavBar li{
    display: inline-block;
} */
.Mobile-Menu-icon{
    position: absolute;
    display: block;
    right: 20px;
}
.NavBar ul li{
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    display: flex;
}
button {
    border: none;
    background: none;
    font-size: 20px;
  }
  .NavBar button {
    background: #f07641;
    padding: 5px;
    margin-right: 50px;
    border-radius: 6px;
    color: #fff;
    border: None;
    font-size: 12px;
    font-family: "Poppins";
    cursor: pointer;
  }
  .NavBar{
    background: #fff;
  }
}
@media only screen and (max-width:320px) {
  .Logo {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 500;
    color: #211213;
    text-decoration: none;
  }
  .Mobile-Menu-icon{
    font-size: 25px
  }
}
