.Section-4-Flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    padding: 10px;
}

.image img{
    width: 600px;
    padding-top: 100px;
}
.Section-4-Text{
    font-family: "Poppins";
    padding-top: 15%;
}
.Section-4-Text h1{
    font-size: 25px;
    font-weight: 500;
    color: #696767;
}
.Section-4-Text h3{
    font-size: 40px;
    font-weight: 500;
    max-width:500px ;
    color: #2C090B;
}
.Section-4-Text h4{
    font-weight: 500;
    font-size: 13px;
    max-width: 400px;
    padding-top: 25px;
}
.Section-4-Text p{
    font-weight: 500;
    font-size: 13px;
    max-width: 400px;
    padding-top: 20px;
}
.Contact {
    max-width: 43px;
    border-radius: 100%;
    margin-top:20px ;
    border: 1px solid rgb(255, 255, 255);
}
.Plus{
    font-size: 40px;
    margin-right: 10px;
    color: orange;
    border-radius: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 1px 2px 9px rgb(207, 205, 205);
}
@media only screen and (max-width: 320px) {
    .image img{
        /* width: 320px; */
        padding-top: 100px;
    }
    .Section-4-Text h1{
        font-size: 20px;
        font-weight: 500;
        color: #696767;
        text-align: center;
    }
    .Section-4-Text h3{
        font-size: 25px;
        font-weight: 500;
        width: 300px ;
        color: #2C090B;
        text-align: center;
        margin: auto;
    }
    .Section-4-Text h4{
        font-weight: 500;
        font-size: 13px;
        width: 300px;
        margin: auto;
        padding-top: 25px;
        text-align: center;
    }
    .Contact {
        width: 43px;
        border-radius: 100%;
        margin-top:20px ;
        border: 1px solid rgb(255, 255, 255);
        
    }
    .Section-4-Icon{
        text-align: center;
    }
    .Section-4-Text p{
        font-weight: 500;
        font-size: 13px;
        width: 300px;
        padding-top: 20px;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 768px)  {
    .image img{
        width: 100%;
    }
}