.Section2-Text {
    padding-top: 40px;
}

.Section2-Text h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins";
    letter-spacing: 4px;
    text-align: center;
    color: #8C8C8C;
  }
  .Section2-Text h1{
    text-align: center;
    font-family:"Poppins" ;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #300E10;
  }
  .Team-1{
    transform: translate(0,-150px);
   
    position: absolute;
    left: 12%;
  }
  .Team-2{
    transform: translate(190px,0) ;
    position: absolute;
    transform: rotate(20deg) ;
    left: 30% ;
  
  }
  .Team-3{
    transform: translate(0,190px);
    position: absolute;
    transform: rotate(5deg) ;
    left: 42%;
  }
  .Team-4{
   transform: translate(0,-150px);
   position: absolute;
   left: 57%;
  }
  .Team-5{
    transform: translate(0,-50px);
    position: absolute;
    transform: rotate(-15deg) ;
    left: 75%;
  }