
.Team-Flex{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}
.Background-Team{
    background-color: rgb(223, 217, 217);
    width:150px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}
.Team{
    text-align: center;
}
.Team img{
    width: 85px;
    border-radius: 100%;
}
.Team h1{
    font-family: "Poppins";
    font-size:15px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#000;
}
.Team p{
    font-size: 11px;
    font-family: "Poppins";
    font-weight: 400;
    color:#000;
}